# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local

# Backend (FastAPI / Python)
backend/__pycache__/
backend/*.pyc
backend/venv/
backend/.venv/
backend/env/

# Database & Keamanan Lokal
*.db
*.db-journal
*.sqlite3
.env
.DS_Store